/* body */

body {
  margin: 0;
}

header.bhr, footer.bhr {
  overflow: hidden;
  background-color: black;
}

header {
  display: block;
  border-bottom : 5px solid #ff6600;
  top: 0;
  position: fixed;
  z-index: 999;
}

.bhrContent {
  padding: 50px 0 50px 0;
}

/* Top Navigation Bar */

.logo {
  font-size: 20px;
  float: left;
  color: white;
}

.logoHighlight {
  font-size: 20px;
  float: left;
  color: #ff8d3f;
  padding: 0 10px 0 0;
}

.socialNav li {
    float: right;
    padding: 0 10px 0 10px;
}

nav.layoutNavBar a {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
}

nav.layoutNavBar a:hover {
    color: #ff8d3f;
}

nav.layoutNavBar a.active {
    background-color: #ff8d3f;
}

nav.layoutNavBar a.active:hover {
    background-color: #ff8d3f;
    color: black;
}

/* Quote slides */
blockquote {
  border: none;
}
.quoteContainer {
  margin-top: 100px;
  background-color: #E7E8E8;
}

/* Panel effect */
.panel1 {
    background-color: #ffffff;
    color: 	#353c3f;
    height: 100%;
    width: 100%;
    margin: 0;
}

.panel2 {
    background-color: #353c3f;
    color: #ffffff;
    height: 100%;
    width: 100%;
    margin: 0;
}
