/* body */

body{
  margin: 0;
}

header, footer {
  overflow: hidden;
  background-color: black;
  padding: 15px;
}

header {
  border-bottom : 5px solid #ff6600;
}

/* Top Navigation Bar */

.logo{
  font-size: 20px;
  float: left;
  color: white;
}

.logoHighlight{
  font-size: 20px;
  float: left;
  color: #ff8d3f;
  padding: 0 10px 0 0;
}

nav.layoutNavBar ul{
    list-style-type: none;
}

nav.layoutNavBar li {
    float: right;
    padding: 0 10px 0 10px;
}

nav.layoutNavBar a {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
}

nav.layoutNavBar a:hover {
    color: #ff8d3f;
}

/* Panel effect */
.panel1{
    background-color: #ffffff;
    color: 	#353c3f;
    height: 100%;
    margin: 0;
}

.panel2{
    background-color: #353c3f;
    color: #ffffff;
    height: 100%;
    margin: 0;
}
