/* body */

body {
  margin: 0;
}

header.bhr, footer.bhr {
  overflow: hidden;
  background-color: black;
  display: block;
}

header.bhr {
  border-bottom : 5px solid #ff6600;
  top: 0;
  position: fixed;
  z-index: 90;
}

footer.bhr {
  padding: 50px 0 50px 0;
  border-top : 5px solid #ff6600;
}

.bhrContent {
  padding: 50px 0 50px 0;
}

/* Top Navigation Bar */

.logo {
  padding: 0;
  margin: 0;
  font-size: 20px;
  color: white;
}

.bhrFooterLicence {
  font-size: 20px;
  color: white;
}

.socialNav li {
    float: right;
    padding: 0 10px 0 10px;
}

nav.layoutNavBar a {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
}

nav.layoutNavBar a:hover {
    color: #ff6600;
    border-radius: 10px;
}

nav.layoutNavBar a.active {
    background-color: #ff6600;
    border-radius: 10px;
}

nav.layoutNavBar a.active:hover {
    background-color: #ff6600;
    color: black;
}

/* Quote slides */
blockquote {
  border: none;
}
.quoteContainer {
  margin-top: 100px;
  background-color: #E7E8E8;
}

/* Panel effect */
.panel1 {
    background-color: #ffffff;
    color: 	#353c3f;
    height: 100%;
    width: 100%;
    margin: 0;
}

.panel2 {
    background-color: #353c3f;
    color: #ffffff;
    height: 100%;
    width: 100%;
    margin: 0;
}

/* Button to go to the top */
#bhrGoTopButton {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  text-decoration: none;
  color: #ff6600;

}
