<nav  class="layoutNavBar navbar" ng-controller="layoutController">
  <ul class="nav socialNav">
    <li class="nav-item"><a href="" > <i class="fa fa-facebook"></i></a></li>
    <li class="nav-item"><a href=""> <i class="fa fa-twitter"></i></a></li>
    <li class="nav-item"><a href=""> <i class="fa fa-rss"></i></a></li>
    <li class="nav-item"><a href=""> <i class="fa fa-youtube"></i></a></li>
    <li class="nav-item"><a href=""> <i class="fa fa-linkedin"></i></a></li>
    <li class="nav-item"><a href=""> <i class="fa fa-google-plus"></i></a></li>
    <li class="nav-item"><a href="" ng-click="openLoginPage()">Login</a> </li>
  </ul>
</nav>
