<div ng-controller="textSlideShowController">

  <blockquote class="blockquote text-center">
  <div ng-repeat="slideCurrent in range(slideTotal)" ng-class="slidePane[slideCurrent]">
  {{slideContent[slideCurrent].quote}}
  <footer class="blockquote-footer"> {{slideContent[slideCurrent].name}}
    <cite>{{slideContent[slideCurrent].title}}</cite></footer>
  </div>
  </blockquote>

<div style="text-align:center">
  <span ng-repeat="slideCurrent in range(slideTotal)" ng-class="slideDot[slideCurrent]" ng-click="changeSlideTo(slideCurrent)"></span>
</div>
</div>
